icon.png
logs/debug.log
logs/latest.log
options.txt
crafttweaker.log
.ReAuth.cfg
texturepacks/
server-resource-packs
screenshots
saves
resourcepacks
logs
coremods
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
usercache.json
usernamecache.json
backups
.vscode
astralsorcery/gatewayFilter/worldFilter.dat

